* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    max-width: 1166px;
    height: 100%;
    margin: 0 auto;
}

.promo {
    /* position: relative; */
    height: 777px;
    background: url(../img/main_bg.png) center center/cover no-repeat;
}

.promo .promo__links {
    position: absolute;
    float: right;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 302px;
    height: 83px;
    background: #D9D9D9;
}

.promo .promo__links a {
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.promo .promo__links a::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: black;
    transition: 0.3s;
  }
  
  .promo .promo__links a:hover::after {
    width: 100%;
  }

.divider {
    margin: 0 6px;
    height: 20px;
    width: 2px;
    background: #000000;
}

h1 {
    display: inline-block;
    margin: 420px 0 0 0;
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
}

.services {
    position: relative;
    margin-top: 66px;
}
.services__list{
    position: relative;
}
.services .services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}

.services .services__list .services__item {
    position: relative;
    margin: 0 0 43px 0;
    width: 271px;
    height: 317px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.13);
    border-radius: 33px;
    transition: all 0.3s;
}

/* .submit {
    display: none;
    justify-content: flex-end;
    position: absolute;
    bottom: 100px;
    right: -134px;
} */

.submit {
    display: none;
    margin-top: 15px;
    justify-content: center;
}

.submit img {
    width: 76px;
    height: 76px;
}

.active {
    display: flex;
}


@media (hover: hover) {
    .services .services__list .services__item:hover {
        box-shadow: 1px 6px 60px #13EA1C;
    }

    .services .services__list .services__item:hover .services__icon {
        background: rgba(19, 234, 28, 0.58);
    }
    .services__tooltips:hover::before{
        opacity: 1;
        visibility: visible;
    }
    

}
.services .services__list .services__item .services__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px 33px 0 0;
    background: rgba(125, 127, 201, 0.58);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 188px;
    transition: all 0.3s;
}

.services .services__list .services__item .services__title {
    margin: 0 auto;
    width: 240px;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #000000;
}

.services .services__list .services__active-item {
    box-shadow: 1px 6px 60px rgba(19, 234, 28, 0.7);

}

.services .services__list .services__active-item .services__title {
    font-weight: 800;
}

.services .services__list .services__item .services__active-icon {
    background: rgba(19, 234, 28, 0.58);
}
.services .next {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}

.next img {
    width: 60px;
    height: 60px;
}

.services__tooltips{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.services__tooltips:before{
    display: block;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -100px;

    padding: 10px;
    width: 200px;
    max-height: 1000px;
    color: black;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    background: rgba(207, 207, 207, 0.9);
    box-shadow: 0px 4px 49px rgba(0, 0, 0, 0.5);
    
    content: attr(data-title);
    box-sizing: border-box;
    border-radius: 10px;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    

    visibility: hidden;
    opacity: 0;

}
.services__tooltips:hover::before{
    opacity: 1;
    visibility: visible;
}



@media screen and (max-width: 1200px) { 
    .services .services__list .services__item {
        margin-bottom: 20px;
    }

    .container {
        max-width: 1100px;
    }

    h1 {
        margin: 254px 0 60px 70px;
        display: inline-flex;
    }

    .promo {
        height: 500px;
    }

    .promo .promo__links {
        width: 290px;
        height: 70px;
    }

    .promo .promo__links a {
        font-size: 18px;
    }

    .services .services__list .services__item {
        width: 223px;
        height: 245px;
        border-radius: 33px;
    }

    .services .services__list .services__item .services__icon {
        height: 140px;
    }

    .services .services__list .services__item .services__icon img {
       width: 80px;
       height: 80px;
    }

    .services .services__list .services__item .services__title {
        width: 90%;
        font-size: 15px;
    }
    .services__tooltips{
        margin-top: 7px;
        margin-right: 7px;
    }
    .services__tooltips img{
        width: 90%;
    }
    .services__tooltips:before{
        width: 180px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .services .services__list .services__item {
        width: 203px;
        height: 225px;
    }

    .services .services__list .services__item .services__icon {
        height: 125px;
    }

    .services .services__list .services__item .services__icon img {
       width: 73px;
       height: 73px;
    }

    .services .services__list .services__item .services__title {
        font-size: 14px;
    }

    .submit img {
        width: 66px;
        height: 66px;
    }
    .services__tooltips{
        margin-top: 8px;
        margin-right: 3px;
    }
    .services__tooltips img{
        width: 80%;
    }
    .services__tooltips:before{
        width: 160px;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .promo {
        height: 400px;
    }

    .promo .promo__links {
        width: 290px;
        height: 55px;
    }

    .promo .promo__links a {
        font-size: 16px;
    }


    h1 {
        margin: 154px 0 60px 70px;
    }

    .services .services__list .services__item {
        width: 163px;
        height: 185px;
    }

    .services .services__list .services__item .services__icon {
        height: 102px;
    }

    .services .services__list .services__item .services__icon img {
       width: 57px;
       height: 57px;
    }

    .services .services__list .services__item .services__title {
        font-size: 12px;
    }
    .services__tooltips{
        margin-top: 7px;
        margin-right: -3px;
    }
    .services__tooltips img{
        width: 60%;
        

    }
    .services__tooltips:before{
        width: 140px;
        font-size: 12px;
    }

}

@media screen and (max-width: 420px) {
    .promo {
        height: 178px;
    }
    
    h1 {
        margin: 54px 0 60px 0;
        width: 100%;
        justify-content: center;
        font-size: 32px;
    }

    .promo .promo__links {
        width: 290px;
        height: 39px;
        left: 50%;
        bottom: -10%;
        transform: translateX(-50%);
    }

    .promo .promo__links a {
        font-size: 14px;
    }

    .services {
        margin-top: 31px;
    }

    .services .services__list .services__item {
        width: 133px;
        height: 155px;
        border-radius: 33px;
    }

    .services .services__list .services__item .services__icon {
        height: 92px;
    }

    .services .services__list .services__item .services__icon img {
       width: 47px;
       height: 47px;
    }

    .services .services__list .services__item .services__title {
        width: 100%;
        font-size: 10px;
    }
    .services__tooltips{
        margin-top: 8px;
        margin-right: -4px;
    }
    .services__tooltips img{
        width: 50%;
    }
    .services__tooltips:before{
        width: 120px;
        font-size: 10px;
        bottom: 40px;
    }
    .services__tooltips:focus::before{
        opacity: 1;
    }
}